<div class="col-md-8 col-md-offset-2">
  <%= simple_form_for @item do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <div class="form-group">
        <%= f.button :submit, class: 'btn btn-default' %>
      </div>
  <% end %>
</div>