<div class="jumbotron">
    <div class="container text-center">
      <h2>Noob Todo</h2>
      <p>The best online task manager!</p>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-warning' %>
    </div>
</div>