<% if current_user.present? %>
  <li><%= link_to 'Add Todo', new_item_path %></li>
  <li><%= link_to 'My Account', edit_user_registration_path %></li>
  <li><%= link_to  'Logout', destroy_user_session_path, method: :delete %></li>
  <% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>
